

.nivel1 {
    background-color: #FFDDC1;
    padding: 20px;
}

.nivel2 {
    background-color: #ec0000; 
    padding: 20px;
}

.nivel3 {
    background-color: #00ffdd; 
    padding: 20px;
}

.nivel4 {
    background-color: #b9e712; 
    padding: 20px;
}

.nivel5 {
    background-color: #e408bf;
    padding: 20px;
}

.nivel6 {
    background-color: #d62511; 
    padding: 20px;
}

.nivel7 {
    background-color: #0a27cc;
    padding: 20px;
}